.icon-block {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 400px;
}

.review-block {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.icon-block .material-icons {
font-size: inherit;
}