.icon-block {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 400px;
}

.review-block {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}
.fa, .fas {
    color: orange;
    padding: 5px;
    font-weight: 900;
}

.waves-effect {
    border: none;
}

.section.no-pad-bot {
    min-height: 80vh;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }
      
  .btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.4em;
}
.task-header{
    padding: right 75; 
}