{% extends 'base.html' %}
{% block content %}

<div class="row">
    <form action="{{url_for('insert_reviews')}}" method="POST"  class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12"  class="collapsible" data-collapsible="accordion">
                    <i class="material-icons prefix">poll</i>
                    <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_type}}">{{cat.category_type}}</option>
                  {% endfor %}
                </select>
                    <label>Task Category</label>
                </div>
            </div>>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">today</i>
                    <input id="deviceimage_url" name="deviceimage_url" type="text" >
                    <label for="icon_prefix">Device image url</label>
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="device_type" name="device_type" type="text">
                <label for="icon_prefix">Device Type</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <input name="device_make" id="device_make" type="text"> 
                <label for="icon_telephone">Device Make</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="device_model" name="device_model" type="text" >
                <label for="icon_prefix">Device model</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <textarea  id="device_review" name="device_review" class="materialize-textarea"></textarea>
                <label for="icon_prefix">Device Review In Detail</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add review
                <i class="material-icons ">playlist_add</i>
             </button>
        </div>
    </form>
</div>
</div>
{% endblock %}