{% extends 'base.html'%}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Add Category</h1>
<form action="{{ url_for('insert_category') }}" method="POST" class="col s12">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">poll</i>
            <input id="category_type" name="category_type" type="text" class="validate">
            <label for="category_type">Category Name</label>
        </div>
    </div>
    <div class="row center">
        <button class="btn waves-effect orange" type="submit" name="action">Add Category
            <i class="material-icons right">playlist_add</i>
        </button>
    </div>
</form>
</div>
</div>
{% endblock %}
