{% extends "base.html" %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>          
            <div class="row ">
            <h2 class="center light-blue-text">{{reviews.device_model }}</h2>           
                <div class="col s12">
                    <div class="review-block">
                     <!-- Recipe Image -->
                        <img src="{{reviews.deviceimage_url}}"class="materialboxed" width="100%" alt="{{reviews.device_model}}">
                     <!-- Recipe INTRO -->
                        <h6 class="center"><i class="fas fa-clock"></i>{{ reviews.device_make }}</h6>
                        <h6 class="center"><i class="fas fa-utensils"></i> {{ reviews.device_model }}</h6>
                        <p class="light">{{ reviews.device_review }}</p>         
                    </div>
                </div>
            </div> 
            <div class="row ">
                <div class="col s12">
                        <!--Edit Recipe Button -->
                        <a href="{{url_for('edit_review', review_id=reviews._id)}}" class="btn waves-effect waves-light orange">Edit Review</a>
                        
                </div>
            </div>   
            {% endblock %}